<!doctype html>
<html>
<head>
  <link href='//fonts.googleapis.com/css?family=Audiowide' rel='stylesheet'>
  <style>
  body {
  background-image: url('https://wallpaperscraft.com/image/space_cataclysm_planet_art_explosion_asteroids_comets_fragments_98315_1920x1080.jpg');
  background-size: cover;
  font-family: 'Audiowide';
  font-size: 150%;
  color: white;
  }

  </style>
<title>Gothons Of Planet Percal #25</title>
</head>
<body>
  <div>
{% block content %}
<p>Empty Layout</p>
{% endblock %}
</div>
</body>
</html>
